<%if current_user%>
        <div class="flex justify-evenly ">
            <div class="text-white px-4 py-2 rounded-2xl drop-shadow-sm hover:bg-gray-300 bg-cyan-300"><%=t(".Registered Banks: #{Bank.count}")  %> </div>
            <div class="text-white px-4 py-2 rounded-2xl drop-shadow-sm hover:bg-gray-300 bg-cyan-300"><%=t(".Registered Suppliers: #{Supplier.count}")  %> </div>
    <% if current_user.admin? %>
            <div class="text-white px-4 py-2 rounded-2xl drop-shadow-sm hover:bg-gray-300 bg-sky-300"><%=link_to t("Suppliers"), suppliers_url%> </div>
            <div class="text-white px-4 py-2 rounded-2xl drop-shadow-sm hover:bg-gray-300 bg-sky-300"><%=link_to t("Banks"), banks_url %> </div>
            <div class="text-white px-4 py-2 rounded-2xl drop-shadow-sm hover:bg-gray-300 bg-cyan-300"><%=t(".Registered Users #{User.count}")  %> </div>
        </div>
    <% end %>
<% end%>
